:root {
    --primary-color: #009900;
    --secondary-color: #ffcc33;
    --ancient-color: #202020;
    --paragraph: #474747;
}

body {
    color: var(--ancient-color);
}

p {
    color: var(--paragraph);
    font-size: 14px;
}

.container {
    width: 86%;
    margin: auto;
}

button {
    cursor: pointer;
}
